.arjBG{
    background-image: url(../../assets/images/arjBG.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 120vh;
    text-align: center;
    border-bottom: 2px solid #1f7aa5;
}





/* MAIN SECTION FULL HEIGHT */
.split-section {
  /* min-height: 100vh; */
  display: flex;
}

/* Ensure row takes full height */
/* .split-row {
  min-height: 100vh;
} */

/* LEFT IMAGE */
.image-side {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 73vh; */
}

/* RIGHT SIDE */
.form-side {
  /* background: linear-gradient(135deg, #f8f5ef, #ffffff);
  height: 73vh; */
  padding: 40px;
}

/* BANNER BOX */
.banner-wrapper-box {
  width: 100%;
  /* max-width: 480px; */
  background: #f7f3ea;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

/* Header */
.info-header {
  background: #1f5d3a;
  color: #ffd700;
  font-weight: 700;
  font-size: 20px;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* List */
.info-list {
  padding-left: 18px;
  margin-bottom: 20px;
}

.info-list li {
  margin-bottom: 12px;
  font-weight: 500;
  color: #1b2a4e;
  font-size: 15px;
}

/* Stats */
.info-stat {
  background: #ffffff;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

/* Button */
.apply-btn {
  background: linear-gradient(90deg, #ffc800, #ff9800);
  border: none;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.apply-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 152, 0, 0.4);
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px) {

  .split-section,
  .split-row,
  .image-side,
  .form-side {
    min-height: auto;
  }

  .image-side {
    height: 60vh;
  }

  .form-side {
    padding: 30px;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .arjFullWidth{
    padding: 0 !important;
  }
  .split-row {
    flex-direction: column;
  }

  .image-side {
    height: 50vh;
  }

  .form-side {
    padding: 20px;
  }

  .banner-wrapper-box {
    padding: 22px;
  }
}
