.gallery-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

/* Tablet */
@media (max-width: 992px) {
  .gallery-img {
    height: 180px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .gallery-img {
    height: 160px;
  }
}


