.problemheading{
    color: #0891b2;
    font-weight: 600;
}
.h-80{
    height:80% !important;
}


/* Custom aligned list */
.custom-list li {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  margin-bottom: 10px;
  line-height: 1.5;
  text-align: left;
}

.custom-list .icon {
  font-size: 1.1rem;
  flex-shrink: 0;
  margin-top: 2px;
}

.custom-list .text {
  flex: 1;
}
