


.quick-form-section {
  background: #f4f6fb;
}


/* Left info box */
.quick-info-box{
  background: #ffffff;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
  transition: 0.4s ease;
  height: 100%;
  border-top: 6px solid #c9a227;
  border-left: 2px solid #c9a227;
  border-right: 2px solid #c9a227;
  border-bottom: 6px solid #c9a227;
}


.quick-info-box:hover{
  transform: translateY(-6px);
  box-shadow: 0 18px 35px rgba(0, 0, 0, 0.12);
}

.quick-info-box .border {
  background: linear-gradient(45deg, #f4f9ff, #ffffff);
}




/* Card Design */
.quick-form-card {
  background: #ffffff;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
  border-top: 6px solid #0d6efd;
  border-left: 2px solid #0d6efd;
  border-right: 2px solid #0d6efd;
  border-bottom: 6px solid #0d6efd;
}

/* Heading */
.form-heading {
  font-size: 28px;
  font-weight: 700;
  color: #0d2c6c;
}

/* Custom Inputs */
.custom-input {
  height: 50px;
  border-radius: 10px;
  border: 1px solid #dcdcdc;
  padding-left: 15px;
  font-size: 15px;
}

.custom-input:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 8px rgba(13, 110, 253, 0.2);
}

/* WhatsApp Button */
.whatsapp-btn {
  background: linear-gradient(90deg, #25D366, #128C7E);
  color: #fff;
  font-weight: 600;
  height: 50px;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease;
}

.whatsapp-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(37, 211, 102, 0.3);
}

.call-btn {
  background: linear-gradient(90deg, #2d2bcf, #1f7aa5);
  color: #fff;
  font-weight: 600;
  height: 50px;
  border-radius: 10px;
  border: none;
  transition: 0.3s ease;
}

.call-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(37, 211, 102, 0.3);
}

/* RESPONSIVE */

/* Tablet */
@media (max-width: 992px) {
  .quick-form-card {
    padding: 30px;
  }
}

/* Mobile */
@media (max-width: 767px){
  .quick-form-card{
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .quick-form-card {
    padding: 25px;
  }

  .form-heading {
    font-size: 18px;
  }

  .custom-input,
  .whatsapp-btn {
    height: 45px;
  }
}
