/* Common CSS */

/* Fancy Navbar Toggler */
.cstmColor{
  color:#0891b2;
}
.MainHeading{
  font-weight: 800;
  font-size: 40px;
  background: linear-gradient(90deg, #ff9933, #0a2c8f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bar {
  width: 120px;
  height: 4px;
  background: #ddd;
  margin: 10px auto 30px;
  border-radius: 50px;
  overflow: hidden;
}

.bar-fill {
  width: 60%;
  height: 100%;
  background: linear-gradient(90deg, #c9a227, #f4d03f);
  animation: slide 2s infinite alternate;
}

@keyframes slide {
  from { width: 40%; }
  to { width: 100%; }
}


.navbar-toggler {
    padding: 7px !important;
}
.navbar-toggler:focus {
    box-shadow: 0px 0px 7px 0rem !important;
}

.custom-toggler {
    border: none !important;
    background: transparent;
    padding: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.toggler-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 30px;
    cursor: pointer;
}
.toggler-icon span {
    display: block;
    width: 30px;
    height: 3px;
    background: #fff; /* Toggler Color setting */
    transition: all 0.25s ease-in-out;
    /* transition: all 0.25s ease; */
    border-radius: 3px;
}

/* Animation for Open State */
.custom-toggler.active .toggler-icon span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.custom-toggler.active .toggler-icon span:nth-child(2) {
    opacity: 0;
}
.custom-toggler.active .toggler-icon span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}



.CstmShadow{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.h-80{
    height:80% !important;
}
@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }
}
