/*=========================
   CSS RESET / BASE STYLES
========================= */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Devanagari', sans-serif;
  font-weight: 600;
  font-style: normal;
}

html {
    scroll-behavior: smooth;
 }

.page-wrapper {
  min-height: 100vh;
}

.nav-link{
  color: #fff !important;
  font-size: 16px !important;
}
.nav-link:focus, .nav-link:hover {
    color: #ffc107 !important;
}

.cstmBG{
  background: #f0fdfa;
}

.cstEngFont{
    font-family: 'Montserrat', sans-serif !important;
}

/* section .bar {
    height: 3px;
    width: 100px;
    position: relative;
    background: rgba(9, 72, 179, 0.2);
    border-radius: 4px;
    overflow: hidden;
    margin: 15px auto;
}
.bar-fill {
    height: 100%;
    width: 50%;
    background: #22d3ee;
    position: absolute;
    left: -50%;
    animation: moveBar 2s linear infinite;
} 

@keyframes moveBar {
    from {
        left: -50%;
    }

    to {
        left: 100%;
    }
} */
  